.flip, .flipFront {
    /* width: 29rem;
    height: 50rem; */
    width: 99%;
    height: 99%;
    position: relative;
    padding: 0;
    margin: auto;
}

.flipFront {
    cursor: pointer;
}

.card-back {
    -webkit-transform: perspective(1000) rotateY(0);
    -moz-transform: perspective(1000) rotateY(0);
    -ms-transform: perspective(1000) rotateY(0);
    -o-transform: perspective(1000) rotateY(0);
    transform: perspective(1000) rotateY(0);
    z-index: 900;
}

.card-front {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    z-index: 800;
}

.flipFront .card-back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform: perspective(1000) rotateY(-180deg);
    -moz-transform: perspective(1000) rotateY(-180deg);
    -ms-transform: perspective(1000) rotateY(-180deg);
    -o-transform: perspective(1000) rotateY(-180deg);
    transform: perspective(1000) rotateY(-180deg);
}

.flipFront .card-front {
    z-index: 950;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform: perspective(1000) rotateY(0deg);
    -moz-transform: perspective(1000) rotateY(0deg);
    -ms-transform: perspective(1000) rotateY(0deg);
    -o-transform: perspective(1000) rotateY(0deg);
    transform: perspective(1000) rotateY(0deg);
}

.card-back,
.card-front {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1.2s;
    -moz-transition: -moz-transform 1.2s;
    -o-transition: -o-transform 1.2s;
    transition: transform 1.2s;
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

