.bgr {
    background-image: url('../images/gothic/background.jpg');
    background-size: cover;                /* Ensures the image covers the whole page */
    background-repeat: no-repeat;          /* Prevents the image from repeating */
    background-position: center center;    /* Centers the image horizontally and vertically */
}

.butReset {
    cursor: pointer;
    border-radius: 7px;
    padding: 3px 0 0 0;

    border: 3px solid rgb(168, 68, 68);
    background-color: rgb(168, 68, 68);
    color: #121111;

    text-align: center;
    margin-inline: auto;
    margin-block: 3rem;
    padding: 0 10px 0 10px;
    font-size: calc(3vh + (40 - 28) * ((100vw - 300px) / (1200 - 300)));

    min-height: 5vh;
    min-width: 24vw;
}
.butReset:hover {
    border: 3px solid rgb(168, 68, 68);
    color: rgb(168, 68, 68);
    background-color: #121111;
}

.card {
    border: 3px solid #492c2c;
    border-radius: 5px;
}

.selectBox select {
    width: 100%;
    /* border: 3px solid #492c2c; */
    border-radius: 7px;
    padding: 5px 0 4px 0;
    text-align: center;
    background-color: #121111;
    color: rgb(168, 68, 68);
    font-size: calc(3vh + (20 - 14) * ((100vw - 300px) / (1200 - 300)));
}