.bgr {
    background-image: url('../images/rider-waite/background.jpg');
    background-size: cover;                /* Ensures the image covers the whole page */
    background-repeat: no-repeat;          /* Prevents the image from repeating */
    background-position: center center;    /* Centers the image horizontally and vertically */
}

.butReset {
    cursor: pointer;
    border-radius: 7px;
    padding: 3px 0 0 0;

    /* border: 3px solid rgb(217, 226, 113); */
    background-color: rgb(76, 72, 78);
    color: #2abbf3;

    text-align: center;
    margin-inline: auto;
    margin-block: 3rem;
    padding: 0 10px 0 10px;
    font-size: calc(3vh + (40 - 28) * ((100vw - 300px) / (1200 - 300)));

    min-height: 5vh;
    min-width: 24vw;
}
.butReset:hover {
    /* border: 3px solid rgb(168, 68, 68); */
    color: rgb(76, 72, 78);
    background-color: #2abbf3;
}

.deck {
    max-width: 100%;
    max-height: 100%;
    min-height: 99%;
    /* border: 3px solid rgb(113, 217, 226); */
    border-radius: 5px;
}



.selectBox select {
    background-color: rgb(76, 72, 78);
    color: #2abbf3;
}