.bgr {
    background-image: url('../images/rider-waite/background.jpg');
}

.butReset {
    cursor: pointer;
    border-radius: 7px;
    padding: 3px 0 0 0;

    /* border: 3px solid rgb(217, 226, 113); */
    background-color: rgb(76, 72, 78);
    color: #78ae64;

    text-align: center;
    margin-inline: auto;
    margin-block: 3rem;
    padding: 0 10px 0 10px;
    font-size: calc(3vh + (40 - 28) * ((100vw - 300px) / (1200 - 300)));

    min-height: 5vh;
    min-width: 24vw;
}
.butReset:hover {
    /* border: 3px solid rgb(168, 68, 68); */
    color: rgb(76, 72, 78);
    background-color: #78ae64;
}

.deck {
    max-width: 100%;
    max-height: 100%;
    min-height: 99%;
    /* border: 3px solid rgb(113, 217, 226); */
    border-radius: 5px;
}



.selectBox select {
    width: 100%;
    /* border: 3px solid rgb(217, 226, 113); */
    border-radius: 7px;
    padding: 5px 0 4px 0;
    text-align: center;
    background-color: rgb(76, 72, 78);
    color: #78ae64;
    font-size: calc(3vh + (20 - 14) * ((100vw - 300px) / (1200 - 300)));
}