body {
    width: 97%;
    height: 97%;
    overflow: hidden;
}

.row-spread {
    display: flex;
    gap: 0.5vw;
    margin-block: 0.5vh;
}

.space {
    transform: 0.5s;
}

.card {
    /* max-width: 100%; */
    max-height: 100%;
    max-width: 100%;
}

.selectBox {
    /* margin-inline: 30%; */
    width: 100%;
    margin-block: 3rem;
}

.table-spread {
    height: 70vh;
    width: 99vw;
}

.butR {
    text-align: center;
}