body {
    width: 97%;
    height: 97%;
    overflow: hidden;
    text-align: center;
    margin-inline: auto;
    padding-left: 1.5vw;
}

.row-spread {
    display: flex;
    gap: 0.5vw;
    margin-block: 0.5vh;
}

.space {
    transform: 0.5s;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.selectBox {
    /* width: 100%; */
    margin-top: 1vh;
    margin-bottom: 2vh;
    min-width: 99%;
}

#upper {
    /* max-height: 13vh; */
}

.selectBox select {
    width: 90%;
    /* border: 3px solid rgb(76, 74, 74); */
    border-radius: 7px;
    max-height: 4vh;
    /* padding: 5px 0 4px 0; */
    text-align: center;
    font-size: calc(2vh + (20 - 14) * ((100vw - 300px) / (1200 - 300)));
}

.table-spread {
    /* max-height: 70vh; */
    /* min-height: 70vh; */
    /* height: 70vh; */
    width: 99vw;
    text-align: center;
    margin-block: 1vh;
    margin-inline: auto;
}

.butR {
    text-align: center;
    margin-inline: auto;
}

.butReset {
    cursor: pointer;
    border-radius: 7px;
    padding: 3px 0 0 0;

    text-align: center;
    margin-inline: auto;
    padding: 0 10px 0 10px;
    font-size: calc(3vh + (40 - 28) * ((100vw - 300px) / (1200 - 300)));

    min-height: 5vh;
    max-height: 8vh;
    min-width: 24vw;

    touch-action: manipulation;
    z-index: 99999;
}
